# ==========================================
# 1. BẢO MẬT & MÔI TRƯỜNG (CỰC KỲ QUAN TRỌNG)
# Tuyệt đối không push các file này lên Github
# ==========================================
.env
.env.*
*.jks
*.keystore
key.properties
google-services.json
GoogleService-Info.plist
ServiceAccountKey.json

# ==========================================
# 2. Flutter/Dart/Pub related
# ==========================================
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
build/
/coverage/
lib/generated_plugin_registrant.dart

# Symbolication & Obfuscation related
app.*.symbols
app.*.map.json

# ==========================================
# 3. Android build artifacts
# ==========================================
**/android/**/gradle-wrapper.jar
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
/android/app/debug
/android/app/profile
/android/app/release
/android/build/

# ==========================================
# 4. iOS / macOS build artifacts
# ==========================================
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/Pods/
**/ios/.symlinks/
**/ios/Runner/GeneratedPluginRegistrant.*
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# ==========================================
# 5. IDEs (VS Code, Android Studio, IntelliJ)
# ==========================================
*.iml
*.ipr
*.iws
.idea/
.vscode/

# ==========================================
# 6. OS & Miscellaneous (Hệ điều hành & Rác)
# ==========================================
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db
Desktop.ini
*.class
*.log
*.pyc
*.swp
.history
.svn/
.swiftpm/
migrate_working_dir/